BODY {
  background-color: #99d9ea;
  height: auto;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#game-view {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../assets/background.png');
  background-repeat: repeat-y;
  background-position: center;
}

#climber {
  display: block;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  position: absolute;
  top: 3em;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  color: white;
  background-color: #CCBD14;
  cursor: default;
}

.climbing.left {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: none;
  -ms-filter: "none";
}

.climbing.right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.scoreboard {
  font-weight: bolder;
  position: relative;
  padding: 0.5em;
  background-color: #00C9FF;
  text-align: center;
}
